:root {
}

body {
  margin: 0px;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  font-family: "Public Sans", sans-serif;
  font-family: "Roboto Slab", serif;
}

.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #edede9;
  justify-content: center;
  align-items: center;
}

.home-container {
  background-color: #e2ece9;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  font-family: "Playfair Display", serif;
  font-family: "Public Sans", sans-serif;
  font-family: "Roboto Slab", serif;
  font-family: "Space Mono", monospace;
}

.door {
  width: 95%;
  margin: 20px 10px;
}

.get-started {
  background-color: #cdb4db;
  align-self: center;
  height: 40px;
  width: 50%;
  border-style: none;
  border-radius: 20px;
  margin-top: 20px;
}

.app-title {
  color: #f6bd60;
  font-size: 2rem;
  margin-left: 1rem;
  margin-top: 20%;
  font-weight: 500;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 10vh;
  /* margin: 10px; */
}
.nav-list {
  display: none;
}

.nav-container {
  max-width: 580px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  width: 100vw;
  height: 10vh;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 0rem 1rem;
  margin-right: 1rem;
  box-sizing: border-box;
}

.nav-list {
  display: none;
}
.nav-btn {
  display: none;
}

.mob-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 10vh;
  width: 100%;
  height: 100%;
  overflow: none;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  height: 30%;
  width: 60%;
  background-color: white;
  margin: 40px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: var(--dark-blue);
  font-size: 1.3rem;
}

.icon-container {
  height: 40px;
  width: 30px;
  background-image: url("./images/icon-hamburger.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
}
.icon-container2 {
  height: 20px;
  width: 30px;
  background-image: url("./images/icon-close.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 50%;
}

.logo {
  height: 30px;
  width: 90px;
  margin: 0px 0px 0px 10px;
}

.catogories {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.category-img {
  width: 50%;
  height: 50%;
  border-radius: 1000px;
}

.category-para {
  font-size: 1 rem;
}

.category-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.ourservices-heading {
  color: #183b56;
  font-size: 36px;
  font-weight: 800;
}

.ourservices-description {
  color: #616c7c;
  font-size: 15px;
  font-weight: 500;
}

.ourservices-card-container {
  background-color: #baabda;
  padding: 20px;
  border-radius: 5px;
  /* border-shadow: */
}

.ourservices-image {
  height: 60px;
}

.ourservices-card-heading {
  color: #1f2933;
  font-size: 20px;
}

.ourservices-card-description {
  color: #7b8794;
  font-size: 13px;
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  background-color: #e2ece9;
}

.mc-img {
  width: 100%;
}

.deal-img {
  width: 45%;
  height: 45%;
  border-radius: 10px;
}
.mc-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  justify-content: center;
}

.gender {
  width: 45%;
  border-radius: 250px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.gender-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.mc-titles {
  align-self: flex-start;
  font-size: 2rem;
  color: #145069;
  margin: 0.5rem;
}

/* Men section */

.men-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.categories-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  background-color: #a2d2ff;
  gap: 10px;
  border-radius: 10px;
}

.item-list-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  background-color: #a2d2ff;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.categories {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.item-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 45%;
  margin: 20px 0px;
  background-color: white;
  padding-bottom: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.category-img {
  width: 40%;
  margin: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-radius: 10px;
}

.item-title {
  font-size: 1rem;
  margin: 5px;
}
.item-description {
  font-size: 0.7rem;
  margin-bottom: 5px;
  margin-left: 5px;
}
.item-price {
  font-size: 0.8rem;
  font-weight: bold;
  margin-left: 5px;
}
.discounted-price {
  text-decoration: line-through;
  color: grey;
  font-weight: lighter;
}
.discount-percentage {
  color: orange;
}
.wish-list {
  margin: 5px;
}
.item-image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.back {
  background-image: linear-gradient(#42a1ec, #0070c9);
  border: 1px solid #0077cc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  direction: ltr;
  display: block;
  font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -0.022em;
  line-height: 1.47059;
  min-width: 30px;
  overflow: visible;
  padding: 4px 15px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  align-self: flex-end;
  margin-right: 10px;
}

.back:disabled {
  cursor: default;
  opacity: 0.3;
}

.back:hover {
  background-image: linear-gradient(#51a9ee, #147bcd);
  border-color: #1482d0;
  text-decoration: none;
}

.back:active {
  background-image: linear-gradient(#3d94d9, #0067b9);
  border-color: #006dbc;
  outline: none;
}

.back-15:focus {
  box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
  outline: none;
}

#toMenSectionbutton {
  align-self: right;
  margin-right: 10px;
}
.hide {
  display: none;
}
